block content

    footer(id="footer")
        div(class="footer-info")
            div(class="single-item")
                p(class="footer-name") Travis Ly
                div(class="profile-icons")
                    a(href="https://github.com/lytravis")
                        img(class="footer-img git-links" src="/image-logos/github-logo.png", alt="Travis' Github")
                    a(href="https://www.linkedin.com/in/lytravis")
                        img(class="footer-img linkedin-links" src="/image-logos/linkedin-logo.png", alt="Travis' Linkedin")
            div(class="single-item")
                p(class="footer-name") Omkar Mehendale
                div(class="profile-icons")
                    a(href="https://github.com/mehendaleo")
                        img(class="footer-img git-links" src="/image-logos/github-logo.png", alt="Omkar's Github")
                    a(href="https://www.linkedin.com/in/omkar-mehendale-4a8879153")
                        img(class="footer-img linkedin-links" src="/image-logos/linkedin-logo.png", alt="Omkar's Linkedin")
            div(class="single-item")
                p(class="footer-name") Nick Rogers
                div(class="profile-icons")
                    a(href="https://github.com/NR481")
                        img(class="footer-img git-links" src="/image-logos/github-logo.png", alt="Nick's Github")
                    a(href="https://www.linkedin.com/in/nick-rogers-635388107/")
                        img(class="footer-img linkedin-links" src="/image-logos/linkedin-logo.png", alt="Nick's Linkedin")
            div(class="single-item")
                p(class="footer-name") Ben Smith
                div(class="profile-icons")
                    a(href="https://github.com/Bensmith0311")
                        img(class="footer-img git-links" src="/image-logos/github-logo.png")
                    a(href="https://www.linkedin.com/in/lytravis")
                        img(class="footer-img linkedin-links" src="/image-logos/linkedin-logo.png", alt="Ben's Linkedin")
