footer(id="footer")
    div(class="footer")
        div(class="footer-logo")
            p Travis Ly
                a(class="git-links" href="https://github.com/lytravis")
                    img(src="/public/image-logos/github_logo.png", alt="Travis' Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(src="/public/image-logos/linkedin-logo.png", alt="Travis' Linkedin")
            p Omkar Mehendale
                a(class="git-links" href="https://github.com/mehendaleo")
                    img(src="/public/image-logos/github_logo.png", alt="Omkar's Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(src="/public/image-logos/linkedin-logo.png", alt="Omkar's Linkedin")
            p Nick Rogers
                a(class="git-links" href="https://github.com/NR481")
                    img(src="/public/image-logos/github_logo.png", alt="Nick's Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(src="/public/image-logos/linkedin-logo.png", alt="Nick's Linkedin")
            p Ben Smith
                a(class="git-links" href="https://github.com/Bensmith0311")
                    img(src="/public/image-logos/github_logo.png")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(src="/public/image-logos/Linked-in-logo.png", alt="Ben's Linkedin")
