footer(id="footer")
    div(class="footer")
        div(class="footer-info")
            p(class="footer-name") Travis Ly
                a(class="git-links" href="https://github.com/lytravis")
                    img(class="footer-img" src="/image-logos/github-logo.png", alt="Travis' Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(class="footer-img" src="/image-logos/linkedin-logo.png", alt="Travis' Linkedin")
            p(class="footer-name") Omkar Mehendale
                a(class="git-links" href="https://github.com/mehendaleo")
                    img(class="footer-img" src="/image-logos/github-logo.png", alt="Omkar's Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/omkar-mehendale-4a8879153")
                    img(class="footer-img" src="/image-logos/linkedin-logo.png", alt="Omkar's Linkedin")
            p(class="footer-name") Nick Rogers
                a(class="git-links" href="https://github.com/NR481")
                    img(class="footer-img" src="/image-logos/github-logo.png", alt="Nick's Github")
                a(class="linkedin-links" href="https://www.linkedin.com/in/nick-rogers-635388107/")
                    img(class="footer-img" src="/image-logos/linkedin-logo.png", alt="Nick's Linkedin")
            p(class="footer-name") Ben Smith
                a(class="git-links" href="https://github.com/Bensmith0311")
                    img(class="footer-img" src="/image-logos/github-logo.png")
                a(class="linkedin-links" href="https://www.linkedin.com/in/lytravis")
                    img(class="footer-img" src="/image-logos/linkedin-logo.png", alt="Ben's Linkedin")
