doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/header.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel='stylesheet' href='/stylesheets/user-login.css')
        link(rel='stylesheet' href='/stylesheets/user-register.css')
        link(rel="icon", href="")
        link(rel='stylesheet' href='/stylesheets/one-game-page.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


  body


    header(id="header")
      #header-logo
        a.guild-logo(href="/") The Guild
      #header-navbar
        form(class="search-bar" action="/search" method="post" )
          input(class="search-input" type="text" name="search" placeholder="Find a game")
          <button class="searchBtn" type="submit"><i class="fa fa-search"></i></button>
        a.games-link(href="/games") Games
        if locals.authenticated
          if user.id !== 1
            a.nav-gameShelves(href=`/users/${user.id}`) Game Shelves
          else
            a.nav-gameShelves(href="/demo") Game Shelves
          //- form(action="/logout", method="post" class='logout-btn')
          //-   button(type="submit") Logout
          nav(class="nav-dropdown")
            ul
              li
                a(href="") Account
                ul(class="dropdown")
                  form(action="/logout", method="post" class='logout-btn')
                    button(class="button" type="submit") Logout
        else
          nav(class="nav-dropdown")
            ul
              li
                a(href="") Account
                ul(class="dropdown")
                  form(action="/demo" method='post')
                    button(class="button" type="submit") Demo Login
                  li
                    a(href="/users/login") Login
                  li
                    a(href="/users/register") Register
          //- a(href='/users/login') Login
          //- a(href='/users/register') Register
          //- form(action="/demo" method='post')
          //-   button Demo Login

    if locals.authenticated
      span(class="welcome") Welcome #{user.firstName} #{user.lastName}
      //- form(action='/logout', method='post')
      //-   button(type='submit') Logout


    block content

    include footer.pug
