doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      span() Welcome #{user.firstName}
      //- form(action='/logout', method='post')
      //-   button(type='submit') Logout adding more comment here for commit
      a(href='/logout') Logout
    else
      span() Hello Guest
      a(href='/users/login') Login
      a(href='/users/register') Register

    block content
