extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  script(src="/javascripts/shelf-page.js" type="module" defer)

block content
  h2= shelf.shelfName
  div(class="big-container")
    each game in games
     div(class="container")
      a(href=`/games/${game.id}`)
        img(src= game.image)
      form(action=`/game_shelves/${shelf.id}/games/${game.id}/delete` method="post")
        <button style="font-size:24px"> <i class="fa fa-trash-o"></i></button>
