extends layout.pug

block content
    if errors
        ul
            each error in errors
                li= error
    form(action="/users/login" method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for='email') Email
            input(name='email' type='email' required)
        div
            label(for='password') Password
            input(name='password' type='password' required)
        button(type="submit")  Login
