extends layout.pug

block content
  h1 Lorem Ipsum

  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit fugiat impedit totam veritatis iste officia alias laborum, adipisci repellat quaerat ipsum similique cum ab corrupti?

  //- form(action="/game_shelves" method="post")
  //- label(for="shelfName") Shelf Name
  //- input(type="text" name="shelfName")
  //- button Submit
