#footer {
  background-color: #334756;
  margin-top: 20px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  justify-content: space-around;
}

.footer-img {
  height: 2rem;
  width: 2rem;
  margin: 10px 10px;
}
