@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: lightcoral;
}

#header-logo {
  /* color: white; */
  font-weight: 1000;
  font-size: 30px;
  margin-left: 80px;
  font-family: "Cinzel Decorative", cursive;
}

#header-navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 5px;
}

.nav-links {
  list-style: none;
  margin-right: 3rem;
  text-decoration: none;
  color: pink;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
