@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

#header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #082032;
}

#header-logo {
  font-weight: 1000;
  font-size: 30px;
  margin-left: 25px;
  font-family: "Cinzel Decorative", cursive;
}

#header-navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 5px;
}

.nav-links {
  list-style: none;
  margin-right: 3rem;
  text-decoration: none;
  color: pink;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.guild-logo {
  font-size: 40px;
}

.search-bar {
  box-sizing: border-box;
  margin: auto;
  max-width: 300px;
}

.search-input {
  border: 1px solid #505355;
  border-radius: 11px 0 0 11px;
  width: 80%;
  font-size: 14px;
  padding: 8px;
  float: left;
  background: white;
}

.searchBtn {
  border: 1px solid #505355;
  border-radius: 0 11px 11px 0;
  border-left: none;
  float: left;
  width: 20%;
  padding: 8px;
  background: #505355;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #f0a500;
}

.nav-login {
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
  pointer-events: none;
}
