@im50ort url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

h1,
h2 {
  color: #dae5e6;
  padding: 15px;
  font-family: "Cinzel Decorative", cursive;
}

h3 {
  font-size: 25px;
  font-family: "Cinzel Decorative", cursive;
  margin-top: 30px;
}

body {
  background-color: #082032;
  color: #dae5e6;
  position: relative;
}

.games {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.games-link {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}

.nav-gameShelves {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Cinzel Decorative", cursive;
}

.game {
  margin: 5px;
}

.game:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.button {
  background-color: #555555;
  color: #f0a500;
  border: none;
  text-align: center;
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 1rem 1rem 0 0;
}
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav a {
  text-decoration: none;
}

nav ul {
  background-color: #555555;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  transition-duration: 0.5s;
  padding: 1rem;
}

nav li:hover,
.button:hover {
  background: #334756;
  cursor: pointer;
}

nav ul li ul {
  background: 3334756;
  visibility: hidden;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
  border-radius: 1rem;
}

nav ul li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
}

.welcome {
  margin-left: 25px;
  font-size: 20px;
  padding-top: 10px;
}

.games::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: lightgray;
}

.games::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 0.125rem;
}

.games::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: gray;
}

#review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.game-img {
  margin: 50px;
}

.review-form {
  margin: 10px;
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-text {
  margin: 20px;
}

.review-button {
  background-color: #8DC5F0;
  border: none;
  height: 40px;
  width: 150px;
  font-family: inherit;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.review-drop-down {
  margin-left: 15px;
}

.main-header {
  font-size: 20px;
}

.main-caption {
  font-style: italic;
}

.welcome {
  color: #f0a500;
  font-size: 15px;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
