@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");

h1, h2 {
  color: #DAE5E6;
  padding: 15px;
  font-family: "Cinzel Decorative", cursive;
}

body {
  background-color: #082032;
  color: #DAE5E6;
}

.games {
  padding: 10px 20px;
  display:flex;
  flex-wrap: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
}

.game {
  margin: 5px;
}

.game:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-out;
}

.welcome {
  font-weight: bold;
}
