#game-image {
  display: flex;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-text {
  display: flex;
  flex-direction: column;
  margin-left: -150px;
}

/* .info-text > h1 {
  margin-top: 30px;
} */

.info-img {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 10px 0 0;
}

#img {
  width: 460px;
  height: 215px;
}

#description {
  width: 600px;
  margin: 20px auto;
  line-height: 1.5;
}

body {
  background-color: #334756;
  color: white;
}

#review {
  /* display: flex; */
  border: black solid 2px;
  padding: 70px;
  justify-content: center;
}

#rating {
  font-size: 20px;
}

#addToShelf {
  padding: 20px;
  margin-bottom: 10px;
}

#addToShelfButton {
  margin-left: 20px;
  margin-bottom: 10px;
}

#reviews-wrapper {
  padding-bottom: 150px;
}

#review-button {
    margin-left: 20px;
    margin-bottom: 5px;
}
