#game-image {
  display: flex;
}

#img {
  margin-left: auto;
  margin-right: auto;
}

#div-description {
  display: flex;
}

#description {
  margin-left: 700px;
  margin-right: 700px;
}

body {
  background-color: #082032;
  color: white;
}

#review {
  /* display: flex; */
  border: black solid 2px;
  padding: 70px;
  justify-content: center;
}

#rating {
  font-size: 20px;
}

#addToShelf {
  padding: 20px;
  margin-bottom: 10px;
}

#addToShelfButton {
  margin-left: 20px;
  margin-bottom: 10px;
}

#reviews-wrapper {
  padding-bottom: 150px;
}
