#login-page {
  display: flex;
}

.login-logo {
  flex: 50%;
  height: 100%;
}

.login-form {
  flex: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20%;
}

.login-input {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.login-btn {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1rem;
  font-weight: bolder;
  background-color: black;
  color: white;
}

.errors {
  background: red;
  color: white;
  position: relative;
  left: 200px;
  padding: 15px 20px;
  list-style: none;
  justify-content: center;
  width: 55%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 1rem;
}
