body {
  background-color: #082032;
  color: #dae5e6;
}

.big-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: fit-content;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
}

h1,
h2,
h3 {
  color: #dae5e6;
  padding: 15px;
  font-family: "Cinzel Decorative", cursive;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.quote {
  margin: 10px 50px 0px;
  text-align: center;
}
.citation {
  margin-left: 200px;
}

.current {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.game {
  margin: 5px;
}

.custom {
  display: flex;
}

.create {
  margin-top: 15px;
}

.shelf-container {
  display: flex;
}

.delete-button {
  background-color: #347fc4;
}

.current::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: lightgray;
}

.current::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 0.125rem;
}

.current::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: gray;
}
