body {
  background-color: #082032;
  color: #dae5e6;
}

.big-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  /* width: fit-content; */
  margin: 15px;
  display: flex;
  flex-direction: column;
  /* border: black 1px solid; */
  /* align-items: center; */
  /* background-color: white; */
}

.quote-wrapper {
  border: black 1px solid;
  opacity: 10;
  background-color: #555555;
}

h1,
h2,
h3 {
  color: #dae5e6;
  padding: 15px;
  font-family: "Cinzel Decorative", cursive;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.quote {
  margin: 10px 50px 0px;
  text-align: center;
  color: #f0a500;
}
.citation {
  margin-left: 700px;
  font-style: italic;
  font-size: 20px;
}

.current {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.game {
  margin: 5px;
}

.custom {
  display: flex;
}

.create {
  margin-top: 15px;
}

.shelf-container {
  display: flex;
}

.delete-button {
  background-color: #347fc4;
}

.current::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: lightgray;
}

.current::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 0.125rem;
}

.current::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: gray;
}
#createShelf {
  color: purple;
}

/* .createShelf {
  border: 1px solid #505355;
  border-radius: 11px 0 0 11px;
  width: 80%;
  font-size: 14px;
  padding: 8px;
  float: left;
  background: black;
} */

#shelf-wrapper {
  padding-bottom: 150px;
}

.shelves {
  display: flex;
  flex-direction: column;
  align-items: center;
}
